<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Olvidó su contraseña</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui grid">
		<div class="row"></div>
		<div class="row">
			<div class="five wide column"></div>
			<div class="six wide column">
				<div class="ui segments">
					<div class="ui center aligned segment">
						<h3>Confirmación de Operación</h3>
						<div class="center floated column">

							<div class="ui medium image">
								<img src="../static/imgs/logo.png" th:src="@{/imgs/logo.png}" />
							</div>
						</div>
					</div>
					<div class="ui segments">
						<div class="ui segment">
							<form class="ui form" action="#" id="frm-password"
								th:action="@{/olvido/confirmacion}" method="POST">
								

								<div class="field">
									<label th:text="${mensaje}"></label>
								</div>

								<button class="ui primary button" id="volver" name="volver"
									type="submit">Volver a Login</button>

								<div class="ui error message"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="five wide column"></div>
			</div>
		</div>
	</div>
</body>
</html>