<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Olvidó su contraseña</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui grid">
		<div class="row"></div>
		<div class="row">
			<div class="five wide column"></div>
			<div class="six wide column">
				<div class="ui segments">
					<div class="ui center aligned segment">
						<h3>Recuperación de Contraseña</h3>
						<div class="center floated column">

							<div class="ui medium image">
								<img src="../static/imgs/logo.png" th:src="@{/imgs/logo.png}" />
							</div>
						</div>
					</div>
					<div class="ui segments">
						<div class="ui segment">
							<form class="ui form" action="#" id="frm-password"
								th:action="@{/olvido/cambioPassword}" method="POST">
								<input type="hidden" name="numeroDocumento" id="numeroDocumento"
									th:value="${numeroDocumento}"> <input type="hidden"
									name="idResp" id="idResp" th:value="${idResp}">
								
								<input type="hidden"
									name="opcion" id="opcion" th:value="${opcion}">

								<div class="required field">
									<label>Ingrese Nueva Contraseña</label> <input type="password"
										name="password" id="password" placeholder="Contraseña">
								</div>

								<div class="required field">
									<label>Confirme Contraseña</label> <input type="password"
										name="password2" id="password2"
										placeholder="Confirme Contraseña">
								</div>
								<div class="required field">
									<label>Ingrese PIN</label> <input type="text" id="pin"
										name="pin" placeholder="PIN"></input>
								</div>
								<button class=" ui primary
									button" id="enviar"
									name="enviar" type="submit">Enviar Solicitud</button>
								<button class="ui primary button" id="generar" name="generar"
									type="button">Generar Clave Digital</button>
								<button class="ui primary button" id="volver" name="volver"
									type="submit">Volver a Login</button>

								<div class="ui error message"></div>
								
								<div class="required">
									<label th:utext="${mensaje}"></label>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="five wide column"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.ui.checkbox').checkbox();

		$(document).ready(function(){
			$("#enviar").click(function(e) {
				if ($('#password').val() != "" && $('#password2').val() != ""){
					if ($('#password').val() != $('#password2').val()){
						alert("Las contraseñas ingresadas no son iguales");
					} else {
						$('#frm-password').form('remove fields', ['password', 'password2','pin']);
						$('#frm-password').form({
							on : 'blur',
							fields : {
								password : {
									identifier : 'password',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor Ingrese Password'
									},
									{
										type : 'maxLength[100]',
										prompt : 'El máximo de caracteres permitidos para el password es de 100'
									},
									{
										type : 'minLength[8]',
										prompt : 'El mínimo de caracteres para el password es de 8'
									},
									{
										type   : 'regExp[[a-z0-9A-Z@#$-_]$/]',
										prompt : 'El password debe contener una minuscula, una mayuscula, un numero y alguno de estos símbolos "@#$-_"'
									} ]
								},
								password2 : {
									identifier : 'password2',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor Ingrese Password de Verificacion'
									},
									{
										type : 'maxLength[100]',
										prompt : 'El máximo de caracteres permitidos para el usuario es de 100'
									},
									{
										type : 'minLength[8]',
										prompt : 'El mínimo de caracteres para el usuario es de 8'
									},
									{
										type   : 'regExp[[a-z0-9A-Z@#$-_]$/]',
										prompt : 'El password de verificacion debe contener una minuscula, una mayuscula, un numero y alguno de estos símbolos "@#$-_"'
									} ]
								},
								pin : {
									identifier : 'pin',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor ingrese Pin enviado por SMS'
									} ]
								}
							}
						});
					}
				}
			});

			$("#volver").click(function(e) {
				
			});
		});	 
	</script>
</body>
</html>