<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Olvidó su contraseña</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui grid">
		<div class="row"></div>
		<div class="row">
			<div class="five wide column"></div>
			<div class="six wide column">
				<div class="ui segments">
					<div class="ui center aligned segment">
						<h3>Recuperación de Contraseña</h3>
						<div class="center floated column">

							<div class="ui medium image">
								<img src="../static/imgs/logo.png" th:src="@{/imgs/logo.png}" />
							</div>
						</div>
					</div>
					<div class="ui segments">
						<div class="ui segment">
							<form class="ui form" action="#" th:action="@{/olvido/accion}" method="POST">
								<input type="hidden"
										name="documento" id="documento" th:value="${numeroDocumento}" placeholder="Ingrese número de documento">
								<input type="hidden"
										name="telefono" id="telefono" th:value="${telefono}" placeholder="Ingrese número de documento">
								<input type="hidden"
										name="correo" id="correo" th:value="${correo}" placeholder="Ingrese número de documento">

								<div class="grouped fields">
									<label>Opciones de Recuperación</label>

									<div class="field">
										<div class="ui slider checkbox">
											<input type="radio" name="opcion" id="opcion" value="M" checked> <label th:text="${correoReemplazado}">Enviar
												Email</label>
										</div>
									</div>

									<div class="field">
										<div class="ui slider checkbox">
											<input type="radio" name="opcion" id="opcion" value="S" > <label th:text="${telefonoReemplazado}">Enviar
												SMS</label>
										</div>
									</div>

								</div>
								<button class="ui primary button" id="enviar" name="enviar" type="submit">Enviar
									Solicitud</button>
								<button class="ui primary button" id="volver" name="volver" type="submit">Volver a Login</button>
							</form>
						</div>
					</div>
				</div>
				<div class="five wide column"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.ui.checkbox').checkbox();

		$(document).ready(function(){
			$("#enviar").click(function(e) {
				if ($('#documento').val() == ""){
					alert("Ingrese valor requerido");
					event.preventDefault();
				}
			});
		});	 
	</script>
</body>
</html>