<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Cambio de Contraseña Primera Vez</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
		</div>
		<div ></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="six wide column"></div>
				<div class="four wide column">

					<div class="ui secondary segment">
							<form class="ui form" action="#" id="frm-password"
								th:action="@{/cambioPasswordInterno/cambioPasswordPrimeraVez}" method="POST">


								<div class="required field">
								<label>Ingrese Nueva Contraseña</label>
								<div class="ui action input">
									<input type="password" name="password" id="password"
										placeholder="Contraseña">
									<button class="ui icon button" type="button" onclick="mostrarContrasena('1');">
										<i class="low vision icon"></i>
									</button>
								</div>
							</div>

							<div class="required field">
								<label>Confirme Contraseña</label>
								<div class="ui action input">
									<input type="password" name="password2" id="password2"
										placeholder="Confirme Contraseña">
									<button class="ui icon button" type="button" onclick="mostrarContrasena('2');">
										<i class="low vision icon"></i>
									</button>
								</div>
							</div>

								<button class="fluid ui primary
									button" id="enviar"
									name="enviar" type="submit">Guardar</button>

								<div class="ui error message"></div>

								<div>
									<label th:utext="${mensaje}"></label>
								</div>
							</form>
							<form class="ui form" th:action="@{/logout}" method="POST" id="myForm"
								name="myForm">
								<div class="field">
									
								</div>
								<button class="fluid ui primary
									button" id="volver"
									name="volver" type="submit">Volver al Login</button>
							</form>
						</div>
						<div class="ui attached message">
						<div class="header">Recomendaciones</div>
						<p>La contraseña debe tener un mínimo de ocho caracteres y un
							máximo de doce caracteres.</p>
						<p>Debe contener, como mínimo, una letra mayúscula, una letra
							minúscula, un número y un símbolo.</p>
					</div>
				</div>
				<div class="six wide column"></div>
			</div>

		</div>
	</div>
	<script>
	  function mostrarContrasena(caja){
		  var tipo;
		  if(caja=='1'){
			  tipo = document.getElementById("password");
		      if(tipo.type == "password"){
		          tipo.type = "text";
		      }else{
		          tipo.type = "password";
		      }
		  } else {
			  tipo = document.getElementById("password2");
		      if(tipo.type == "password"){
		          tipo.type = "text";
		      }else{
		          tipo.type = "password";
		      }
		  }
	  }
	</script>
	<script type="text/javascript">
		$('.ui.checkbox').checkbox();

		$(document).ready(function(){
			$("#enviar").click(function(e) {
				if ($('#password').val() != "" && $('#password2').val() != ""){
					if ($('#password').val() != $('#password2').val()){
						alert("Las contraseñas ingresadas no son iguales");
					} else {
						$('#frm-password').form('remove fields', ['password', 'password2','pin']);
						$('#frm-password').form({
							on : 'blur',
							fields : {
								password : {
									identifier : 'password',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor Ingrese Password'
									},
									{
										type : 'maxLength[100]',
										prompt : 'El máximo de caracteres permitidos para el password es de 100'
									},
									{
										type : 'minLength[8]',
										prompt : 'El mínimo de caracteres para el password es de 8'
									},
									{
										type   : 'regExp[[a-z0-9A-Z@#$-_]$/]',
										prompt : 'El password debe contener una minuscula, una mayuscula, un numero y alguno de estos símbolos "@#$-_"'
									} ]
								},
								password2 : {
									identifier : 'password2',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor Ingrese Password de Verificacion'
									},
									{
										type : 'maxLength[100]',
										prompt : 'El máximo de caracteres permitidos para el usuario es de 100'
									},
									{
										type : 'minLength[8]',
										prompt : 'El mínimo de caracteres para el usuario es de 8'
									},
									{
										type   : 'regExp[[a-z0-9A-Z@#$-_]$/]',
										prompt : 'El password de verificacion debe contener una minuscula, una mayuscula, un numero y alguno de estos símbolos "@#$-_"'
									} ]
								},
								pin : {
									identifier : 'pin',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor ingrese Pin enviado por SMS'
									} ]
								}
							}
						});
					}
				}
			});

			$("#volver").click(function(e) {
				
			});
		});	 
	</script>
</body>
</html>