<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Olvidó su contraseña</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui grid">
		<div class="row"></div>
		<div class="row">
			<div class="five wide column"></div>
			<div class="six wide column">
				<div class="ui segments">
					<div class="ui center aligned segment">
						<h3>Recuperación de Contraseña</h3>
						<div class="center floated column">

							<div class="ui medium image">
								<img src="../static/imgs/logo.png" th:src="@{/imgs/logo.png}" />
							</div>
						</div>
					</div>
					<div class="ui segments">
						<div class="ui segment">
							<form class="ui form" action="#" id="frm-documento"
								th:action="@{/olvido/busqueda_usuario}" method="POST">
								<div class="required field">
									<label>Tipo de Documento</label> <select class="ui dropdown"
										name="tipoDocumento" id="tipoDocumento">
										<option value="">Seleccionar...</option>
										<option th:each="doc : ${listTipoDocumento}"
											th:value="${doc.valorConstraint}"
											th:text="${doc.descConstraint}"
											th:selected="${doc.valorConstraint==tipoDocumento}"></option>
									</select>
								</div>
								<div class="required field">
									<label>Número de Documento</label> <input type="text"
										name="documento" id="documento"
										placeholder="Ingrese número de documento">
								</div>

								<button class="ui primary button" id="enviar" name="enviar"
									type="submit">Validar documento</button>
								<button class="ui primary button" id="volver" name="volver"
									type="submit">Volver a Login</button>
									
								<div class="ui error message"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="five wide column"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
		$("#enviar").click(function(e) {
			$('#frm-documento').form({
				on : 'blur',
				fields : {
					documento : {
						identifier : 'documento',
						rules : [ {
							type : 'empty',
							prompt : 'Por Favor Ingrese Numero de Documento'
						},
						{
							type : 'maxLength[100]',
							prompt : 'El máximo de caracteres permitidos para el numero de documento es de 100'
						},
						{
							type : 'minLength[8]',
							prompt : 'El mínimo de caracteres para el numero de documento es de 8'
						}]
					}
				}
			});
		});

		$("#volver").click(function(e) {
			$('#frm-documento')
		      .form('remove fields', ['documento'])
		    ;
		});
	});
	</script>
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>
</body>
</html>