<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Cambio de contraseña</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="six wide column"></div>
				<div class="four wide column">

					<div class="ui secondary segment">

						<form class="ui form" action="#" id="frm-cambio-interno"
							th:action="@{/cambioPasswordInterno/cambioPassword}"
							method="POST">

							<div class="required field">
								<label>Ingrese Nueva Contraseña</label>
								<div class="ui action input">
									<input type="password" name="password" id="password"
										placeholder="Contraseña">
									<button class="ui icon button" type="button" onclick="mostrarContrasena('1');">
										<i class="low vision icon"></i>
									</button>
								</div>
							</div>

							<div class="required field">
								<label>Confirme Contraseña</label>
								<div class="ui action input">
									<input type="password" name="password2" id="password2"
										placeholder="Confirme Contraseña">
									<button class="ui icon button" type="button" onclick="mostrarContrasena('2');">
										<i class="low vision icon"></i>
									</button>
								</div>
							</div>

							<button class=" ui primary
									button" id="enviar"
								name="enviar" type="submit">Guardar</button>

							<div class="ui error message"></div>

							<div>
								<label th:utext="${mensaje}"></label>
							</div>
						</form>
					</div>
					<div class="ui attached message">
						<div class="header">Recomendaciones</div>
						<p>La contraseña debe tener un mínimo de ocho caracteres y un
							máximo de doce caracteres.</p>
						<p>Debe contener, como mínimo, una letra mayúscula, una letra
							minúscula, un número y un símbolo.</p>
					</div>
				</div>
				<div class="six wide column"></div>
			</div>

		</div>
	</div>

	<script>
	function toggleSidebar(){
		$("#app .ui.sidebar")
		.sidebar({context:$("#app")})
		.sidebar("setting", "transition", "overlay")
		.sidebar("toggle");
	}	
	document.addEventListener("DOMContentLoaded", function() {
		startTime();
	});

	$(document).ready(function(){
		  $('#abrir_menu').click(function(){
			  toggleSidebar();
		  });
	});
	function startTime(){
		var date = new Date();
		var d  = date.getDate();
		var day = (d < 10) ? '0' + d : d;
		var m = date.getMonth() + 1;
		var month = (m < 10) ? '0' + m : m;
		var yy = date.getYear();
		var year = (yy < 1000) ? yy + 1900 : yy;
		var fecha = day + "/" + month + "/" + year;
		
		var h=date.getHours();
		var m=date.getMinutes();
		var s=date.getSeconds();
		m=checkTime(m);
		s=checkTime(s);
		var hora = h+":"+m+":"+s;

		$("#reloj").text(fecha + " " + hora);
		
		t=setTimeout('startTime()',500);
	}
	
	function checkTime(i){
		if (i<10) {
			i="0" + i;
		}
		return i;
	}
	</script>
	<script>
	  function mostrarContrasena(caja){
		  var tipo;
		  if(caja=='1'){
			  tipo = document.getElementById("password");
		      if(tipo.type == "password"){
		          tipo.type = "text";
		      }else{
		          tipo.type = "password";
		      }
		  } else {
			  tipo = document.getElementById("password2");
		      if(tipo.type == "password"){
		          tipo.type = "text";
		      }else{
		          tipo.type = "password";
		      }
		  }
	  }
	</script>
	<script type="text/javascript">

		$(document).ready(function(){
			$("#enviar").click(function(e) {
				if ($('#password').val() != "" && $('#password2').val() != ""){
					if ($('#password').val() != $('#password2').val()){
						alert("Las contraseñas ingresadas no son iguales");
					} else {
						$('#frm-cambio-interno').form('remove fields', ['password', 'password2','pin']);
						$('#frm-cambio-interno').form({
							on : 'blur',
							fields : {
								password : {
									identifier : 'password',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor Ingrese Password'
									},
									{
										type : 'maxLength[100]',
										prompt : 'El máximo de caracteres permitidos para el password es de 100'
									},
									{
										type : 'minLength[8]',
										prompt : 'El mínimo de caracteres para el password es de 8'
									},
									{
										type   : 'regExp[[a-z0-9A-Z@#$-_]$/]',
										prompt : 'El password debe contener una minuscula, una mayuscula, un numero y alguno de estos símbolos "@#$-_"'
									} ]
								},
								password2 : {
									identifier : 'password2',
									rules : [ {
										type : 'empty',
										prompt : 'Por Favor Ingrese Password de Verificacion'
									},
									{
										type : 'maxLength[100]',
										prompt : 'El máximo de caracteres permitidos para el usuario es de 100'
									},
									{
										type : 'minLength[8]',
										prompt : 'El mínimo de caracteres para el usuario es de 8'
									},
									{
										type   : 'regExp[[a-z0-9A-Z@#$-_]$/]',
										prompt : 'El password de verificacion debe contener una minuscula, una mayuscula, un numero y alguno de estos símbolos "@#$-_"'
									} ]
								}
							}
						});
					}
				}
			});
		});	 
	</script>
</body>
</html>