<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Formulario de Persona</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="one wide column"></div>
				<div class="fourteen wide column">

					<div class="ui secondary segment">

						<form class="ui form" action="#"
							th:action="@{/persona/addpersona}" th:object="${personaModel}"
							method="POST" id="frm-persona">
							<h4 class="ui dividing header">Formulario de Persona</h4>
							
							<input type="hidden" th:field="*{idPersona}"
								th:value="${idPersona}"></input> 
							<input type="hidden" id="modo"
								name="modo" th:value="${personaModel.edicion}"></input> 
							<input
								type="hidden" id="tipoUsuarioSesion" name="tipoUsuarioSesion"
								th:value="${personaModel.tipoUsuarioSesion}"></input> 
							<input
								type="hidden" id="idEmpresaSesion" name="idEmpresaSesion"
								th:value="${personaModel.idEmpresaSesion}"></input>

							<div class="three fields">
								<div class="required field">
									<label>Tipo de Documento</label> <select class="ui dropdown"
										name="tipoDocumento" id="tipoDocumento"
										th:field="*{tipoDocumento}">
										<option value="">Seleccionar...</option>
										<option th:each="doc : ${listTipoDocumento}"
											th:value="${doc.valorConstraint}"
											th:text="${doc.descConstraint}"
											th:selected="${doc.valorConstraint==tipoDocumento}"></option>
									</select>
								</div>
								<div class="required field">
									<label>Numero de Documento</label>
									<div class="field">
										<input type="text" name="numeroDocumento" id="numeroDocumento"
											placeholder="Numero de Documento"
											th:field="*{numeroDocumento}" th:value="${numeroDocumento}">
									</div>
								</div>
								<div class="required field">
									<label>Tipo de Persona</label>
									<div class="ui disabled input">
										<input type="text" name="descTipoPersona" id="descTipoPersona"
											placeholder="Tipo de persona" th:field="*{descTipoPersona}"
											th:value="${descTipoPersona}">
									</div>
								</div>

							</div>
							<div id="datos">
								<div class="required field">
									<label>Nombres y Apellidos</label>
									<div class="three fields">
										<div class="field">
											<input type="text" name="nombres" id="nombres"
												placeholder="Nombres" th:field="*{nombres}"
												th:value="${nombres}">
										</div>
										<div class="field">
											<input type="text" name="apePat" id="apePat"
												placeholder="Apellido Paterno" th:field="*{apePat}"
												th:value="${apePat}">
										</div>
										<div class="field">
											<input type="text" name="apeMat" id="apeMat"
												placeholder="Apellido Materno" th:field="*{apeMat}"
												th:value="${apeMat}">
										</div>
									</div>
								</div>
							</div>

							<div id="razon">
								<div class="required field">
									<label>Razon Social</label>
									<div class="two fields">
										<div class="field">
											<input type="text" name="razonSocial" id="razonSocial"
												placeholder="Razon Social" th:field="*{razonSocial}"
												th:value="${razonSocial}">
										</div>
									</div>
								</div>
							</div>

							<div id="divEstadoRegistro">
								<div class="three fields">
									<div class="required field">
										<label>Estado de Registro</label> <select class="ui dropdown"
											name="estadoRegistro" id="estadoRegistro"
											th:field="*{estadoRegistro}">
											<option value="">Seleccionar...</option>
											<option th:each="estado : ${listEstadoRegistro}"
												th:value="${estado.valorConstraint}"
												th:text="${estado.descConstraint}"
												th:selected="${estado.valorConstraint==estadoRegistro}"></option>
										</select>
									</div>
								</div>
							</div>
							<div>
								<div class="three fields">
									<div class="required field" id="vincularComoUsuario">
										<label>Permite Vincular como Usuario</label> <select
											class="ui fluid dropdown" name="permiteVinculacionCliente"
											id="permiteVinculacionCliente"
											th:field="*{permiteVinculacionCliente}">
											<option value="">Seleccionar...</option>
											<option value="S">Si</option>
											<option value="N">No</option>
										</select>
									</div>
									<div class="required field" id="vincularComoEmpresa">
										<label>Permite Vinculacion como Empresa</label> <select
											class="ui fluid dropdown" name="permiteVinculacion"
											id="permiteVinculacion" th:field="*{permiteVinculacion}">
											<option value="">Seleccionar...</option>
											<option value="S">Si</option>
											<option value="N">No</option>
										</select>
									</div>
								</div>
							</div>

							<div class="required field" id="empresa">
								<div class="required field" th:utext="${comboEmpresas}"></div>

							</div>

							<div class="ui center aligned field">
								<div class="ui buttons">
									<button class="fluid ui primary button active" type="submit"
										id="saveRow" name="saveRow">Guardar</button>
									<div class="or" data-text="O"></div>

									<button class="fluid ui negative basic button" type="submit"
										id="cancelar" name="cancelar">Cancelar</button>
								</div>
							</div>
							<div class="ui error message"></div>
							<div class="ui secondary segment" id="mensajeDePara">
								<div class="ui info message">
									<i class="close icon"></i>
									<div class="header">Mensaje de información</div>
									<p>Registro de persona ya existe, buscarla en la lista de
										Personas</p>
								</div>
							</div>
							<div class="ui secondary segment" id="mensajeDeConfirmacion">
								<div class="ui info message">
									<i class="close icon"></i>
									<div class="header">Mensaje de información</div>
									<p>Persona ya se encuentra registrada, puede vincularla a
										la empresa de su elección</p>
								</div>
							</div>
						</form>

						<div id="feedback"></div>

					</div>

				</div>
				<div class="one wide column"></div>
			</div>

		</div>
	</div>

	<script>
	function toggleSidebar(){
		$("#app .ui.sidebar")
		.sidebar({context:$("#app")})
		.sidebar("setting", "transition", "overlay")
		.sidebar("toggle");
	}	
	document.addEventListener("DOMContentLoaded", function() {
		//toggleSidebar();
	});

	$(document).ready(function(){
		  $('#abrir_menu').click(function(){
			  toggleSidebar();
		  });
	});
	</script>
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#mensajeDePara').hide();
			$('#mensajeDeConfirmacion').hide();

			if ($('#modo').val() == 'N'){
				$('#datos').hide();
				$('#razon').hide();
				$('#divEstadoRegistro').hide();
				$('#empresa').hide();
				$('#saveRow'). attr("disabled", true);
				$('#vincularComoEmpresa').hide();
				$('#vincularComoUsuario').hide();
			} else {
				if ($("#tipoDocumento").val() == 'RUC'){
					$('#datos').hide();
				} else {
					$('#razon').hide();
				}
				
				if ($('#tipoUsuarioSesion').val() == 'S'){
					$('#divEstadoRegistro').show();
					$('#vincularComoEmpresa').show();
					$('#vincularComoUsuario').show();
					
				} else {
					$('#divEstadoRegistro').hide();
					$('#vincularComoEmpresa').hide();
					$('#vincularComoUsuario').hide();
				}

				$('#empresa').show();
			}
			
			
			$("#tipoDocumento").on( "change", function() {
				$('#datos').hide();
				$('#razon').hide();
				$('#vinculacionCliente').hide();
				$('#razonSocial').val('');
				$('#nombres').val('');
				$('#apePat').val('');
				$('#apeMat').val('');
				$('#descTipoPersona').val('');
				
			});

		    $("#numeroDocumento").keypress(function(e) {
		        var code = (e.keyCode ? e.keyCode : e.which);
		        if(code==13){
		            buscarPersonaAjax();
		        }
		    });

		    $("#permiteVinculacionCliente").on( "change", function() {
		    	if ($(this).val() == 'S'){
		    		$('#empresa').show();
				} else {
					$('#empresa').hide();
				}
		    });

		    $("#saveRow").click(function(e) {
		    	$('#frm-persona').form({
					on : 'blur',
					fields : {
						nombres : {
							identifier : 'nombres',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor Ingrese Nombres'
							} ]
						},
						apePat : {
							identifier : 'apePat',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor Ingrese Apellido Paterno'
							} ]
						},
						apeMat : {
							identifier : 'apeMat',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor Ingrese Apellido Materno'
							} ]
						},
						razonSocial : {
							identifier : 'razonSocial',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor Ingrese Razón Social'
							} ]
						},
						tipoPersona : {
							identifier : 'tipoPersona',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor seleccione Tipo de Persona'
							} ]
						},
						tipoDocumento : {
							identifier : 'tipoDocumento',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor Ingrese Tipo de Documento'
							} ]
						},
						numeroDocumento : {
							identifier : 'numeroDocumento',
							rules : [ {
								type : 'empty',
								prompt : 'Por Favor Ingrese Tipo de Numero de Documento'
							} ]
						}
					}
				});
		    });
		});
	</script>

	<script type="text/javascript">
	function buscarPersonaAjax(){		 
		event.preventDefault();
		
		var datosPersona = {}
		datosPersona["tipoDocumento"] = $("#tipoDocumento").val();
		datosPersona["numeroDocumento"] = $("#numeroDocumento").val();
		
		$.ajax({
		    type: "POST",
		    contentType: "application/json",
		    url: "/persona/validarExistencia",
		    data: JSON.stringify(datosPersona),
		    dataType: 'json',
		    cache: false,
		    timeout: 600000,
		    success: function (data) {

		    	/*var json = "<h4>Ajax Response</h4>&lt;pre&gt;"
	                + JSON.stringify(data, null, 4) + "&lt;/pre&gt;";
	            $('#feedback').html(json);*/
		    	
		        var respuesta = data['msg'];

		        if (respuesta == 'S'){
		        	if ($('#tipoDocumento').val() == 'RUC'){
						$('#datos').hide();
						$('#razon').show();
						$('#razonSocial').val('');
						$('#nombres').val('-');
						$('#apePat').val('-');
						$('#apeMat').val('-');
						$('#descTipoPersona').val('Juridica');
					} else {
						$('#datos').show();
						$('#razon').hide();
						$('#razonSocial').val('-');
						$('#nombres').val('');
						$('#apePat').val('');
						$('#apeMat').val('');
						$('#descTipoPersona').val('Natural');
					}
		        	$('#nombres').val(data['result'][0]['nombres']);
		        	$('#apePat').val(data['result'][0]['apePat']);
		        	$('#apeMat').val(data['result'][0]['apeMat']);
		        	$('#razonSocial').val(data['result'][0]['razonSocial']);
		        	$('#idPersona').val(data['result'][0]['idPersona']);

		        	if ($('#tipoUsuarioSesion').val() == 'S'){
		        		$('#mensajeDePara').show();
		        		$('#mensajeDeConfirmacion').hide();
				    } else {
				    	var myArray = data['result'][0]['listEmpresa'];
				    	var contador=0;
				    	for(var i=0;i<myArray.length;i++){
				    		if(myArray[i]["idEmpresa"] == $('#idEmpresaSesion').val()){
								contador++;
    						}
				    	}
					    if (contador > 0){
					    	$('#mensajeDePara').show();
					    	$('#saveRow'). attr("disabled", true);
					    }else{
					    	$('#mensajeDePara').hide();
					    	$('#mensajeDeConfirmacion').show();
					    	if(data['result'][0]['permiteVinculacionCliente']=='N'){
								$('#vincularComoUsuario').show();
						    } else {
						    	$('#empresa').show();
							}
					    	$('#saveRow'). attr("disabled", false);
					    }
					}
		        } else {
					if ($("#tipoDocumento").val() == 'RUC'){
						$('#datos').hide();
						$('#razon').show();
						$('#razonSocial').val('');
						$('#nombres').val('-');
						$('#apePat').val('-');
						$('#apeMat').val('-');
						$('#descTipoPersona').val('Juridica');
					} else {
						$('#datos').show();
						$('#razon').hide();
						$('#razonSocial').val('-');
						$('#nombres').val('');
						$('#apePat').val('');
						$('#apeMat').val('');
						$('#descTipoPersona').val('Natural')
					}

					$('#divEstadoRegistro').show();
					$('#vincularComoUsuario').show();
					
					if ($('#tipoUsuarioSesion').val() == 'S'){
						$('#vincularComoEmpresa').show();
					} 
					$('#saveRow'). attr("disabled", false);
			    }
		    },
		    error: function (e) {
			    
		    }
		});
	}
	</script>

	<script type="text/javascript">
		
	</script>
</body>


</html>