<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Usuarios</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui container">
		<div class="ui segments">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>
		<div class="ui segments">
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="three wide column">
							<div th:replace="~{layout/menu :: menu}"></div>
						</div>
						<div class="one wide column"></div>
						<div class="twelve wide column">


							<form class="ui form" action="#"
								th:action="@{/usuario/crudAccionesListaUsuarios}"
								th:object="${crudUsuarioModel}" method="POST" id="frm-usuario">


								<div class="ui segments">
									<div class="ui segment">

										<div class="ui fluid icon input">
											<input type="text" th:field="*{busqueda}"
												th:value="${busqueda}" placeholder="Busqueda por Usuario...">
											<button name="findRow" class="ui icon button">
												<i class="search icon"></i>
											</button>
										</div>

									</div>
									<div class="ui secondary segment">




										<table class="ui selectable celled table">
											<thead>
												<tr>
													<th>Usuario</th>
													<th>Tipo</th>
													<th>Actividad</th>
													<th>Estado</th>
													<th>Acciones</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="user : ${crudUsuarioModel.rows}">
													<td th:text="${user.usuario}"></td>
													<td th:text="${user.descTipoUsuario}"></td>
													<td th:text="${user.descEstadoActividad}"></td>
													<td th:text="${user.descEstadoRegistro}"></td>
													<td class="ui center aligned">
														<div class="ui icon buttons">
															<button class="ui button" type="submit" name="editRow"
																th:value="${user.idUsuario}">
																<i class="edit icon"></i>
															</button>
															<button class="ui button" type="submit" name="removeRow"
																th:value="${user.idUsuario}">
																<i class="trash alternate icon"></i>
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>

									</div>
									<div th:replace="~{layout/paginado :: paginado}"></div>

										<button class="fluid ui primary button" type="submit"
											name="addRow">
											<i class="plus circle icon"></i> Agregar Usuario
										</button>
										<input type="hidden" th:field="*{paginaActual}"
											th:value="${paginaActual}"> <input type="hidden"
											th:field="*{paginaFinal}" th:value="${paginaFinal}">

									</div>
								</div>


							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>
	
</body>
</html>