<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Menus</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="one wide column"></div>
				<div class="fourteen wide column">


					<form class="ui form" action="#"
						th:action="@{/menu/crudAccionesListaMenus}"
						th:object="${crudMenuModel}" method="POST" id="frm-usuario">


						<div class="ui segments">
							<div class="ui segment">

								<div class="ui fluid icon input">
									<input type="text" th:field="*{busqueda}"
										th:value="${busqueda}"
										placeholder="Busqueda por Descripcion...">
									<button name="findRow" class="ui icon button"
										data-tooltip="Buscar" data-position="bottom center">
										<i class="search icon"></i>
									</button>
								</div>

							</div>
							<div class="ui secondary segment">




								<table class="ui selectable celled table">
									<thead>
										<tr>
											<th class="ui center aligned">Descripcion</th>
											<th class="ui center aligned">Tipo</th>
											<th class="ui center aligned">Estado</th>
											<th class="ui center aligned">Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="menu : ${crudMenuModel.rows}"
											th:class="${menu.estadoRegistro=='N'}? 'negative'">
											<td th:text="${menu.descripcion}"></td>
											<td class="ui center aligned" th:text="${menu.descTipoMenu}"></td>
											<td class="ui center aligned"
												th:text="${menu.descEstadoRegistro}"></td>
											<td class="ui center aligned">
												<div class="ui icon buttons">
													<button class="ui button" data-tooltip="Editar"
														data-position="right center" type="submit" name="editRow"
														th:value="${menu.idMenu}">
														<i class="edit icon"></i>
													</button>
													<button class="ui button" data-tooltip="Eliminar"
														data-position="right center" type="submit"
														name="removeRow" th:value="${menu.idMenu}">
														<i class="trash alternate icon"></i>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="ui right aligned secondary segment">
								<div class="ui pagination menu">

									<button class="button" type="submit" name="leftRow">
										<a class="icon item" data-tooltip="Mover a la Izquierda" data-position="top center"> <i class="left arrow icon"></i>
										</a>
									</button>

									<a th:text="${crudMenuModel.paginaActual}" class="active item">
									</a>
									<div class="disabled item">...</div>
									<a th:text="${crudMenuModel.cantidadRegistros + ' Reg.'}"
										class="disabled item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${crudMenuModel.paginaFinal}" class="item"> </a>
									<button class="button" type="submit" name="rightRow">
										<a class="icon item" data-tooltip="Mover a la Derecha" data-position="top center"> <i class="right arrow icon"></i>
										</a>
									</button>
								</div>
							</div>
							<div class="ui secondary segment">
								<div th:if="${crudMenuModel.codigoError != null }"
									th:utext="${crudMenuModel.mensaje}"></div>

								<button class="fluid ui primary button" type="submit"
									name="addRow" id="addRow">
									<i class="plus circle icon"></i> Agregar Menu
								</button>
								<input type="hidden" th:field="*{paginaActual}"
									th:value="${paginaActual}"> <input type="hidden"
									th:field="*{paginaFinal}" th:value="${paginaFinal}">

							</div>
						</div>


					</form>

				</div>
				<div class="one wide column"></div>
			</div>

		</div>
	</div>


	<script>
	function toggleSidebar(){
		$("#app .ui.sidebar")
		.sidebar({context:$("#app")})
		.sidebar("setting", "transition", "overlay")
		.sidebar("toggle");
	}	
	document.addEventListener("DOMContentLoaded", function() {
		startTime();
	});

	function startTime(){
		var date = new Date();
		var d  = date.getDate();
		var day = (d < 10) ? '0' + d : d;
		var m = date.getMonth() + 1;
		var month = (m < 10) ? '0' + m : m;
		var yy = date.getYear();
		var year = (yy < 1000) ? yy + 1900 : yy;
		var fecha = day + "/" + month + "/" + year;
		
		var h=date.getHours();
		var m=date.getMinutes();
		var s=date.getSeconds();
		m=checkTime(m);
		s=checkTime(s);
		var hora = h+":"+m+":"+s;

		$("#reloj").text(fecha + " " + hora);
		
		t=setTimeout('startTime()',500);
	}
	
	function checkTime(i){
		if (i<10) {
			i="0" + i;
		}
		return i;
	}
	
	$(document).ready(function(){
		  $('#abrir_menu').click(function(){
			  toggleSidebar();
		  });
	});	  
</script>

</body>
</html>