<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Usuarios</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="one wide column"></div>
				<div class="fourteen wide column">


					<form class="ui form" action="#"
						th:action="@{/usuario/crudAccionesListaUsuarios}"
						th:object="${crudUsuarioModel}" method="POST" id="frm-usuario">


						<div class="ui segments">
							<div class="ui segment">

								<div class="ui fluid icon input">
									<input type="text" th:field="*{busqueda}"
										th:value="${busqueda}" placeholder="Busqueda por Usuario...">
									<button name="findRow" class="ui icon button"
										data-tooltip="Buscar" data-position="bottom center">
										<i class="search icon"></i>
									</button>
								</div>

							</div>
							<div class="ui secondary segment">




								<table class="ui selectable celled table">
									<thead>
										<tr>
											<th>Usuario</th>
											<th>Tipo</th>
											<th>Actividad</th>
											<th>Estado</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${crudUsuarioModel.rows}" th:class="${user.estadoRegistro=='N'}? 'negative'">
											<td th:text="${user.usuario}"></td>
											<td th:text="${user.descTipoUsuario}"></td>
											<td th:text="${user.descEstadoActividad}"></td>
											<td th:text="${user.descEstadoRegistro}"></td>
											<td class="ui center aligned">
												<div class="ui icon buttons" id="evaluate">
													<button class="ui button" data-tooltip="Editar"
														data-position="right center" type="submit" name="editRow" 
														th:value="${user.idUsuario}">
														<i class="edit icon"></i>
													</button>
													<button class="ui button" data-tooltip="Enviar Correo con Credenciales"
														data-position="right center" type="button" id="emailRow" name="emailRow" onclick="enviarMail(this);"
														th:value="${user.idPersona}">
														<i class="at icon"></i>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="ui right aligned secondary segment">
								<div class="ui pagination menu">

									<button class="button" type="submit" name="leftRow">
										<a class="icon item" data-tooltip="Mover a la Izquierda" data-position="top center"> <i class="left arrow icon"></i>
										</a>
									</button>

									<a th:text="${crudUsuarioModel.paginaActual}"
										class="active item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${crudUsuarioModel.cantidadRegistros + ' Reg.'}"
										class="disabled item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${crudUsuarioModel.paginaFinal}" class="item">

									</a>
									<button class="button" data-tooltip="Mover a la Derecha" data-position="top center" type="submit" name="rightRow">
										<a class="icon item"> <i class="right arrow icon"></i>
										</a>
									</button>
								</div>
							</div>
							<div class="ui secondary segment">
								<div th:if="${crudUsuarioModel.codigoError != null }"
									th:utext="${crudUsuarioModel.mensaje}"></div>


								<button class="fluid ui primary button" type="submit"
									name="addRow">
									<i class="plus circle icon"></i> Agregar Usuario
								</button>
								<input type="hidden" th:field="*{paginaActual}"
									th:value="${paginaActual}"> <input type="hidden"
									th:field="*{paginaFinal}" th:value="${paginaFinal}">

							</div>
						</div>


					</form>

				</div>
				<div class="one wide column"></div>
			</div>

		</div>
	</div>


	<script>
	function toggleSidebar(){
		$("#app .ui.sidebar")
		.sidebar({context:$("#app")})
		.sidebar("setting", "transition", "overlay")
		.sidebar("toggle");
	}	
	document.addEventListener("DOMContentLoaded", function() {
		//toggleSidebar();
	});

	$(document).ready(function(){
		$('#abrir_menu').click(function(){
			toggleSidebar();
		});

		/*$(".ui.button").click(function(){
			enviarMail($(this).val())
	   })*/
	});	  

	function enviarMail(idPersona){
		var datosPersona = idPersona.value
		
		$.ajax({
		    type: "POST",
		    contentType: "application/json",
		    url: "/usuario/enviarMailCredenciales",
		    data: JSON.stringify(datosPersona),
		    dataType: 'json',
		    cache: false,
		    timeout: 600000,
		    success: function (data) {
		        var respuesta = data['msg'];

		        if (respuesta == '0' ){
		        	alert("Se envió correo con credenciales");
		        } else {
		        	alert("Ocurrió un problema con la petición");
			    }
		    },
		    error: function (e) {
		    	alert("Ocurrió un problema con la petición");
		    }
		});
	}
</script>
</body>
</html>