<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Menus</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui container">
		<div class="ui segments">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>
		<div class="ui segments">
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="three wide column">
							<div th:replace="~{layout/menu :: menu}"></div>
						</div>
						<div class="one wide column"></div>
						<div class="twelve wide column">


							<form class="ui form" action="#"
								th:action="@{/menu/crudAccionesListaMenus}"
								th:object="${crudMenuModel}" method="POST" id="frm-usuario">


								<div class="ui segments">
									<div class="ui segment">

										<div class="ui fluid icon input">
											<input type="text" th:field="*{busqueda}"
												th:value="${busqueda}" placeholder="Busqueda por Descripcion...">
											<button name="findRow" class="ui icon button">
												<i class="search icon"></i>
											</button>
										</div>

									</div>
									<div class="ui secondary segment">




										<table class="ui selectable celled table">
											<thead>
												<tr>
													<th>Descripcion</th>
													<th>Tipo</th>
													<th>Estado</th>
													<th>Acciones</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="menu : ${crudMenuModel.rows}">
													<td th:text="${menu.descripcion}"></td>
													<td th:text="${menu.descTipoMenu}"></td>
													<td th:text="${menu.descEstadoRegistro}"></td>
													<td class="ui center aligned">
														<div class="ui icon buttons">
															<button class="ui button" type="submit" name="editRow"
																th:value="${menu.idMenu}">
																<i class="edit icon"></i>
															</button>
															<button class="ui button" type="submit" name="removeRow"
																th:value="${menu.idMenu}">
																<i class="trash alternate icon"></i>
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>

									</div>
									<div class="ui right aligned secondary segment">
										<div class="ui pagination menu">

											<button class="button" type="submit" name="leftRow">
												<a class="icon item"> <i class="left arrow icon"></i>
												</a>
											</button>

											<a th:text="${crudMenuModel.paginaActual}"
												class="active item"> </a>
											<div class="disabled item">...</div>
											<a th:text="${crudMenuModel.cantidadRegistros + ' Reg.'}" class="disabled item"> </a>
											<div class="disabled item">...</div>
											<a th:text="${crudMenuModel.paginaFinal}" class="item">

											</a>
											<button class="button" type="submit" name="rightRow">
												<a class="icon item"> <i class="right arrow icon"></i>
												</a>
											</button>
										</div>
									</div>
									<div class="ui secondary segment">
										<div th:if="${crudMenuModel.result == '3'}"
											class="ui info message">
											<i class="close icon"></i>
											<div class="header">Mensaje de información</div>
											<p>No hay mas registros a la derecha.</p>
										</div>
										<div th:if="${crudMenuModel.result == '2'}"
											class="ui info message">
											<i class="close icon"></i>
											<div class="header">Mensaje de información</div>
											<p>No hay mas registros a la izquierda.</p>
										</div>
										<div th:if="${crudMenuModel.result == '1'}"
											class="ui positive message">
											<i class="close icon"></i>
											<div class="header">Mensaje de confirmación</div>
											<p>Se realizó la operación satisfactoriamente.</p>
										</div>
										<div th:if="${crudMenuModel.result == '0'}"
											class="ui negative message">
											<i class="close icon"></i>
											<div class="header">Mensaje de error</div>
											<p>Ocurrió un error en la operación solicitada.</p>
										</div>

										<button class="fluid ui primary button" type="submit"
											name="addRow">
											<i class="plus circle icon"></i> Agregar Menu
										</button>
										<input type="hidden" th:field="*{paginaActual}"
											th:value="${paginaActual}"> 
										<input type="hidden"
											th:field="*{paginaFinal}" th:value="${paginaFinal}">

									</div>
								</div>


							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>
	
</body>
</html>