<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Telefonos</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="one wide column"></div>
				<div class="fourteen wide column">


					<form class="ui form" action="#"
						th:action="@{/persona/crudAccionesListaTelefonos}"
						th:object="${crudTelefonoModel}" method="POST" id="frm-rol">

						<input type="hidden" th:field="*{idPersona}"
							th:value="${idPersona}"></input>
						<div class="ui segments">

							<div class="ui secondary segment">
								<label th:text="${crudTelefonoModel.nombreCompletoPersona}"></label>
								<table class="ui selectable celled table">
									<thead>
										<tr>
											<th>Número</th>
											<th>Estado de Registro</th>
											<th>Operador</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="rol : ${crudTelefonoModel.rows}"
											th:class="${rol.estadoRegistro=='N'}? 'negative'">
											<td th:text="${rol.numero}"></td>
											<td th:text="${rol.operador}"></td>
											<td th:text="${rol.descEstadoRegistro}"></td>
											
										</tr>
									</tbody>
								</table>

							</div>
							<div class="ui right aligned secondary segment">
								<div class="ui pagination menu">

									<button class="button" type="submit" name="leftRow">
										<a class="icon item" data-tooltip="Mover a la Izquierda"
											data-position="top center"> <i class="left arrow icon"></i>
										</a>
									</button>

									<a th:text="${crudTelefonoModel.paginaActual}"
										class="active item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${crudTelefonoModel.cantidadRegistros + ' Reg.'}"
										class="disabled item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${crudTelefonoModel.paginaFinal}" class="item">
									</a>
									<button class="button" type="submit" name="rightRow">
										<a class="icon item" data-tooltip="Mover a la Derecha"
											data-position="top center"> <i class="right arrow icon"></i>
										</a>
									</button>
								</div>
							</div>
							<div class="ui secondary segment">
								<div th:if="${crudTelefonoModel.codigoError != null }"
									th:utext="${crudTelefonoModel.mensaje}"></div>

								<button class="fluid ui primary button" type="submit"
									name="addRowTelefono">
									<i class="plus circle icon"></i> Agregar Telefono
								</button>
								<button class="fluid ui negative basic button" type="submit"
									name="volverTelefono">
									<i class="reply icon"></i> Volver a lista de Personas
								</button>
								<input type="hidden" th:field="*{paginaActual}"
									th:value="${paginaActual}"> <input type="hidden"
									th:field="*{paginaFinal}" th:value="${paginaFinal}">

							</div>
						</div>


					</form>

				</div>
				<div class="one wide column"></div>
			</div>

		</div>
	</div>


	<script>
	function toggleSidebar(){
		$("#app .ui.sidebar")
		.sidebar({context:$("#app")})
		.sidebar("setting", "transition", "overlay")
		.sidebar("toggle");
	}	
	document.addEventListener("DOMContentLoaded", function() {
		startTime();
	});

	function startTime(){
		var date = new Date();
		var d  = date.getDate();
		var day = (d < 10) ? '0' + d : d;
		var m = date.getMonth() + 1;
		var month = (m < 10) ? '0' + m : m;
		var yy = date.getYear();
		var year = (yy < 1000) ? yy + 1900 : yy;
		var fecha = day + "/" + month + "/" + year;
		
		var h=date.getHours();
		var m=date.getMinutes();
		var s=date.getSeconds();
		m=checkTime(m);
		s=checkTime(s);
		var hora = h+":"+m+":"+s;

		$("#reloj").text(fecha + " " + hora);
		
		t=setTimeout('startTime()',500);
	}
	
	function checkTime(i){
		if (i<10) {
			i="0" + i;
		}
		return i;
	}
	
	$(document).ready(function(){
		  $('#abrir_menu').click(function(){
			  toggleSidebar();
		  });
	});	  
</script>
</body>
</html>