<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
</head>
<body onload="mostrar();">
	<div class="ui grid" th:fragment="header">
		<div class="ui four column row">
			<div class="left floated column">
				<div class="ui medium image">
					<img src="../static/imgs/logo.png" th:src="@{/imgs/logo.png}" />
				</div>
			</div>
			<div class="center floated column">
				<h2 class="ui center aligned dividing header">
					<!-- <i class="industry icon"></i> -->
					<div class="content"> 
						<span
							th:text="${session.datosGenerales.nombreEmpresa == null} ? 'Administrador del Sistema' : ${session.datosGenerales.nombreEmpresa}"></span>
						<!-- <div class="sub header"
							th:text="${session.datosGenerales.nombreCompletoUsuario == null} ? '' : 'Usuario en Gestión: ' + ${session.datosGenerales.nombreCompletoUsuario}">
						</div> -->
					</div>
				</h2>
				<h3 class="ui center aligned header">
					<div class="content" th:text="${session.datosGenerales.modulo == null} ? '' : 'Módulo seleccionado: ' + ${session.datosGenerales.modulo}"></div>
				</h3>
			</div>
			<div class="ui center aligned right floated column">
				<form th:action="@{/logout}" method="POST" id="myForm" name="myForm">
					
					<div class="ui icon button" onclick="document.myForm.submit()"
						data-tooltip="Presione para Cerrar Sesión" data-inverted=""
						data-position="bottom center">
						<i class="power off icon"></i>
					</div>
					<div class=""
							th:text="${session.datosGenerales.nombreCompletoUsuario == null} ? '' : ${session.datosGenerales.nombreCompletoUsuario}">
					</div>
					<div id="reloj"></div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('div').click(function() {
			$('form').submit();
		});
	</script>
</body>