<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="utf-8" />
<title>Movimientos de Cuentas</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="one wide column"></div>
				<div class="fourteen wide column">
					<h2><span th:text="${nombreFideicomiso}"></span></h2>
										
					<form class="ui form" action="#"
						th:action="@{/movimientoCuentaEntidadFinanciera/buscarMovimientoCuenta}"
						th:object="${movimientoCuentaEntidadFinancieraModel}" method="POST"
						id="frm-movimientoCuenta">						
						<div class="ui segments">													
							<div class="ui secondary segment">
								
								<form class="ui form" action="" id="frm-child-movimientoCuenta" 
									th:object="${cuentaEntidadFinancieraModel}">	
									<div><input type="hidden" th:field="*{formularioOrigen}" th:value="${formularioOrigen}"></div>
									<div class="inline fields">
										<div class="four wide field">
											<h3><label for="numeroCuentaEntidadFinanciera">N° Cuenta</label></h3>
											<div class="ui input">
												<input type="text" name="numeroCuentaEntidadFinanciera" id="numeroCuentaEntidadFinanciera" readonly
													th:field="*{numeroCuentaEntidadFinanciera}" th:value="${numeroCuentaEntidadFinanciera}">
											</div>
										</div>										
										<div class="eight wide field">											
											<div class="ui input">
												<input type="text" name="nombreEntidadFinanciera" id="nombreEntidadFinanciera" readonly
													th:field="*{nombreEntidadFinanciera}" th:value="${nombreEntidadFinanciera}">
											</div>
										</div>										
										<div class="four wide field">
											<h3><label for="saldoContableActual">Saldo Contable</label></h3>
											<div class="ui right aligned input">
												<input type="text" name="saldoContableActual" id="saldoContableActual" style="text-align:right" readonly
													th:field="*{cadenaSaldoContableActual}" th:value="${cadenaSaldoContableActual}">
											</div>
										</div>									
									</div>						
																	
									<div class="inline fields">
										<div class="four wide field">
											<h3><label for="descripcionMonedaIntegrada">Moneda</label></h3>
											<div class="ui input">
												<input type="text" name="descripcionMonedaIntegrada" id="descripcionMonedaIntegrada" readonly
													th:field="*{descripcionMonedaIntegrada}" th:value="${descripcionMonedaIntegrada}">												
											</div>
										</div>
										<div class="eight wide field">											
											<div class="ui input">
												<input type="text" name="descripcionCuentaEntidadFinanciera" id="descripcionCuentaEntidadFinanciera" readonly
													th:field="*{descripcionCuentaEntidadFinanciera}" th:value="${descripcionCuentaEntidadFinanciera}">
											</div>
										</div>																														
										<div class="four wide field">
											<h3><label for="saldoDisponibleActual">Saldo Disponible</label></h3>
											<div class="ui right aligned input">
												<input type="text" name="saldoDisponibleActual" id="saldoDisponibleActual" style="text-align:right" readonly
												 th:field="*{cadenaSaldoDisponibleActual}" th:value="${cadenaSaldoDisponibleActual}">
											</div>
										</div>
									</div>
								</form>								
							</div>	
													
							<div class="ui segment">
								<table class="ui selectable celled table" id="tMovimientosCuenta">
									<thead>
										<tr>
											<th>   </th>
											<th class="ui center aligned">Fecha Registro</th>
											<th class="ui center aligned">Fecha Valor</th>
											<th>Descripción</th>
											<th class="ui right aligned">Cargos</th>
											<th class="ui right aligned">Abonos</th>
											<th>Oficina</th>
											<th class="ui center aligned">N° Operación</th>																		
										</tr>
									</thead>
									<tbody>
										<tr th:each="movimientoCuentaEntidadFinanciera : ${movimientoCuentaEntidadFinancieraModel.rows}">
											<td class="ui center aligned">
												<div class="ui icon buttons">
													<button class="ui button" data-tooltip="Detalle Movimiento" data-position="right center" 
															type="button" id="detailRow" onclick="mostrarDetalleMovimiento(this)" name="detailRow" th:value="${movimientoCuentaEntidadFinanciera.identificadorMovimientoCuentaEntidadFinanciera}">
														<i class="list ul icon"></i>
													</button>													
												</div>
											</td>											
											<td class="ui center aligned" th:text="${movimientoCuentaEntidadFinanciera.fechaProcesoMovimiento}"></td>
											<td class="ui center aligned" th:text="${movimientoCuentaEntidadFinanciera.fechaValutaMovimiento}"></td>
											<td th:text="${movimientoCuentaEntidadFinanciera.descripcionMovimiento}"></td>
											<td class="ui right aligned" th:text="${#numbers.formatDecimal(movimientoCuentaEntidadFinanciera.montoCargoMovimiento,1,'COMMA',2,'POINT')}"></td>
											<td class="ui right aligned" th:text="${#numbers.formatDecimal(movimientoCuentaEntidadFinanciera.montoAbonoMovimiento,1,'COMMA',2,'POINT')}"></td>
											<td th:text="${movimientoCuentaEntidadFinanciera.descripcionOficinaMovimiento}"></td>
											<td class="ui center aligned" th:text="${movimientoCuentaEntidadFinanciera.numeroOperacionMovimiento}"></td>											
										</tr>
									</tbody>
								</table>
							</div>
							<div class="ui right aligned secondary segment">
								<div class="ui pagination menu">
									<button class="button" type="submit" name="leftRow">
										<a class="icon item"> <i class="left arrow icon"></i></a>
									</button>
									<a th:text="${movimientoCuentaEntidadFinancieraModel.paginaActual}"
										class="active item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${movimientoCuentaEntidadFinancieraModel.cantidadRegistros + ' reg.'}"
										class="disabled item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${movimientoCuentaEntidadFinancieraModel.paginaFinal}" class="item"></a>
									<button class="button" type="submit" name="rightRow">
										<a class="icon item"> <i class="right arrow icon"></i></a>
									</button>
								</div>
							</div>
							<div class="ui secondary segment">
								<div th:if="${movimientoCuentaEntidadFinancieraModel.result == '2'}"
									class="ui info message">
									<i class="close icon"></i>
									<div class="header">Mensaje de información</div>
									<p>No hay más registros a la derecha...</p>
								</div>
								<div th:if="${movimientoCuentaEntidadFinancieraModel.result == '3'}"
									class="ui info message">
									<i class="close icon"></i>
									<div class="header">Mensaje de información</div>
									<p>No hay más registros a la izquierda...</p>
								</div>
								<input type="hidden" th:field="*{paginaActual}" th:value="${paginaActual}"> 
								<input type="hidden" th:field="*{paginaFinal}" th:value="${paginaFinal}">
								<input type="hidden" th:field="*{identificadorCuentaEntidadFinanciera}" th:value="${identificadorCuentaEntidadFinanciera}">								
							</div>
							<div class="ui secondary segment">
								<button class="fluid ui negative basic button" type="submit" name="backListaFideicomiso">
									<i class="reply icon"></i> Retroceder
								</button>
							</div>
						</div>
					</form>
					
					<div class="ui modal segments" id="modalPrincipal">								
						<div class="ui form">						
							<div class="ui segment">
								<div class="inline fields">
									<div class="thirteen wide field">
										<h3><label for="descripcionOperacion">Operación</label></h3>
										<div class="ui disabled input">
											<input type="text" name="descripcionOperacion" id="descripcionOperacion"
													value="">
										</div>
									</div>
									<div class="three wide field">								
										<div class="ui disabled input">
											<input type="text" name="montoOperacion" id="montoOperacion"
													value="">
										</div>
									</div>
								</div>
								<div class="inline fields">
									<div class="thirteen wide field"></div>
									<div class="three wide field">								
										<div class="ui disabled input">
											<input type="text" name="monedaOperacion" id="monedaOperacion"
													value="">
										</div>
									</div>
								</div>									
							</div>							
							<div class="ui secondary segment">
								<h4>DETALLE DE MOVIMIENTO DE CUENTA</h4>
								<table class="ui celled table">
									<thead>
										<tr>
											<th>Id</th>
											<th>Detalle</th>
											<th class="ui right aligned">Importe</th>								
										</tr>							
									</thead>
									<tbody id="tDetalleMovimientoCuenta"></tbody>
								</table>
							</div>						
						</div>												
						<div class="actions">
							<div class="ui black deny button">Cerrar</div>
						</div>	
					</div>										
					<div class="ui mini test modal" id="modalSecundario">							
							<div class="header">Atención!</div>
							<div class="content">
								<div class="description"><h4>No existe detalle de movimiento en la cuenta</h4></div>
							</div>
							<div class="actions">
								<div class="ui negative button">Cerrar</div>								
							</div>
					</div>					
				</div>
				<div class="one wide column"></div>
			</div>

		</div>
	</div>
	<script>
		function toggleSidebar() {
			$("#app .ui.sidebar").sidebar({
				context : $("#app")
			}).sidebar("setting", "transition", "overlay").sidebar("toggle");
		}
		
		document.addEventListener("DOMContentLoaded", function() {
			startTime();
		});

		function startTime(){
			var date = new Date();
			var d  = date.getDate();
			var day = (d < 10) ? '0' + d : d;
			var m = date.getMonth() + 1;
			var month = (m < 10) ? '0' + m : m;
			var yy = date.getYear();
			var year = (yy < 1000) ? yy + 1900 : yy;
			var fecha = day + "/" + month + "/" + year;
			
			var h=date.getHours();
			var m=date.getMinutes();
			var s=date.getSeconds();
			m=checkTime(m);
			s=checkTime(s);
			var hora = h+":"+m+":"+s;

			$("#reloj").text(fecha + " " + hora);
			
			t=setTimeout('startTime()',500);
		}
		
		function checkTime(i){
			if (i<10) {
				i="0" + i;
			}
			return i;
		}

		$(document).ready(function() {
			$('#abrir_menu').click(function() {
				toggleSidebar();
			});
		});
	</script>

	<script type="text/javascript">
		function mostrarDetalleMovimiento(object){	
			
			var id = object.value;
			var datosGenerales = {};
			datosGenerales["identificadorMovimientoCuentaEntidadFinanciera"] = id;
			$.ajax({
				type: "POST",
				contentType: "application/json",
			    url: "/movimientoCuentaEntidadFinanciera/mostrarDetalleMovimiento",
			    data: JSON.stringify(datosGenerales),
			    dataType: 'json',
			    cache: false,
			    timeout: 600000,
				success: function (data) {
						var listDetalleMovimiento = data['listDetalleMovCuentaEntidadFinancieraModel'];
						if (listDetalleMovimiento.length > 0){
							
							$("#descripcionOperacion").val(data['descripcionMovimiento']);
							$("#montoOperacion").val(data['montoMovimientoCuenta']);
							$("#monedaOperacion").val(data['monedaMovimientoCuentaEntidadFinanciera']);
							
							var detalleTabla = "";
							for (var i=0;i<listDetalleMovimiento.length;i++){
								detalleTabla += "<tr>";
								detalleTabla += 	"<td>" + listDetalleMovimiento[i]['correlativoDetalleMovimiento'] + "</td>";
								detalleTabla += 	"<td>" + listDetalleMovimiento[i]['descripcionDetalleMovimiento']+"</td>";
								detalleTabla += 	"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(listDetalleMovimiento[i]['montoMovimiento']).toFixed(2)) + "</td>";
								detalleTabla += "</tr>";
							}
							$('#tDetalleMovimientoCuenta').html(detalleTabla);
							$('#modalPrincipal').modal('show');
						} else {
							$('#modalSecundario').modal('show');	
						}
			    },
				error: function (e) {}
			});						
		}	
	</script>
	<script type="text/javascript">
		function addCommas(cadenaNumerica) {
			cadenaNumerica += '';
		    var segmentoNumerico = cadenaNumerica.split('.');
		    var segmentoNumerico1 = segmentoNumerico[0];
		    var segmentoNumerico2 = segmentoNumerico.length > 1 ? '.' + segmentoNumerico[1] : '';
		    var rgx = /(\d+)(\d{3})/;
		    while (rgx.test(segmentoNumerico1)) {
		    	segmentoNumerico1 = segmentoNumerico1.replace(rgx, '$1' + ',' + '$2');
		    }
		    
		    return segmentoNumerico1 + segmentoNumerico2;
		}	
	</script>
</body>