<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="utf-8" />
<title>Fideicomisos Soles</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui segment">
				<div th:replace="~{layout/header :: header}"></div>
			</div>
		</div>

	</div>
	<div id="app">
		<div class="ui top attached demo menu">
			<button id="abrir_menu">
				<i class="sidebar icon"></i> Menú
			</button>
		</div>
		<div th:replace="~{layout/menu :: menu}"></div>
		<div class="ui internally celled grid">
			<div class="row">
				<div class="one wide column"></div>
				<div class="fourteen wide column">
					<h2><span th:text="${nombreFideicomisario}"></span></h2>
					<form class="ui form" action="#"
						th:action="@{/fideicomiso/buscarFideicomisoSoles}"
						th:object="${posicionBancoModel}" method="POST"
						id="frm-fideicomiso">
						<div class="ui segments">
							<div class="ui segment">
								<div class="ui fluid icon input">
									<input type="text" th:field="*{busqueda}"
										th:value="${busqueda}"
										placeholder="Búsqueda por Nombre Fideicomiso...">
									<button name="findRow" class="ui icon button">
										<i class="search icon"></i>
									</button>
								</div>
							</div>
							<div class="ui secondary segment">
							    <h3>POSICIÓN DE BANCOS DE FIDEICOMISOS</h3>
								<table class="ui selectable celled table">
									<thead>
										<tr>
											<th>   </th>
											<th>Id</th>
											<th>Fideicomiso</th>
											<th>Banco</th>
											<th>Moneda</th>
											<th>Cuenta</th>
											<th>Nombre Cuenta</th>
											<th class="ui right aligned">Sdo. Contable</th>
											<th class="ui right aligned">Sdo. Disponible</th>
											<th class="ui center aligned">Fecha/Hora</th>											
										</tr>
									</thead>
									<tbody>
										<tr th:each="posicionBanco : ${posicionBancoModel.rows}">
											<td class="ui center aligned">
												<div class="ui icon buttons">
													<button class="ui button" data-tooltip="Detalle Cuenta" data-position="right center" 
													type="submit" name="detailRow" th:value="${posicionBanco.identificadorCuentaEntidadFinanciera}">
														<i class="list ul icon"></i>
													</button>
												</div>
											</td>											
											<td th:text="${posicionBanco.identificadorFideicomiso}"></td>
											<td th:text="${posicionBanco.nombreFideicomiso}"></td>
											<td th:text="${posicionBanco.acronimoEntidadFinanciera}"></td>
											<td
												th:text="${posicionBanco.isoMonedaCuentaEntidadFinanciera}"></td>
											<td th:text="${posicionBanco.numeroCuentaEntidadFinanciera}"></td>
											<td
												th:text="${posicionBanco.descripcionCuentaEntidadFinanciera}"></td>
											<td class="ui right aligned"
												th:text="${#numbers.formatDecimal(posicionBanco.saldoContableActual,1,'COMMA',2,'POINT')}"></td>
											<td class="ui right aligned"
												th:text="${#numbers.formatDecimal(posicionBanco.saldoDisponibleActual,1,'COMMA',2,'POINT')}"></td>	
											<td class="ui center aligned"
												th:text="${posicionBanco.fechaUltimaActualizacion}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="ui right aligned segment">
								<button class="ui primary button" type="submit" id="consolidatedBalances" name="consolidatedBalances">
									Consolidado Saldos
								</button>							
							</div>
							<div class="ui right aligned secondary segment">
								<div class="ui pagination menu">
									<button class="button" type="submit" name="leftRow">
										<a class="icon item"> <i class="left arrow icon"></i></a>
									</button>
									<a th:text="${posicionBancoModel.paginaActual}"
										class="active item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${posicionBancoModel.cantidadRegistros + ' reg.'}"
										class="disabled item"> </a>
									<div class="disabled item">...</div>
									<a th:text="${posicionBancoModel.paginaFinal}" class="item"></a>
									<button class="button" type="submit" name="rightRow">
										<a class="icon item"> <i class="right arrow icon"></i></a>
									</button>
								</div>
							</div>
							<div class="ui secondary segment">
								<div th:if="${posicionBancoModel.result == '2'}"
									class="ui info message">
									<i class="close icon"></i>
									<div class="header">Mensaje de información</div>
									<p>No hay más registros a la derecha...</p>
								</div>
								<div th:if="${posicionBancoModel.result == '3'}"
									class="ui info message">
									<i class="close icon"></i>
									<div class="header">Mensaje de información</div>
									<p>No hay más registros a la izquierda...</p>
								</div>
								<input type="hidden" th:field="*{paginaActual}"
									th:value="${paginaActual}"> <input type="hidden"
									th:field="*{paginaFinal}" th:value="${paginaFinal}">
							</div>
						</div>
					</form>
					
					<div class="ui basic modal">					
						<div class="ui grid">
						  <div class="four column row">
						    <div class="left floated column"></div>
						    <div class="right floated column"></div>
						  </div>
						  <div class="row">
						    <div class="three wide column"></div>
						    <div class="eight wide column"></div>
						    <div class="five wide column"></div>
						  </div>
						</div>
						
						<div class="ui grid">
						  <div class="row">						    	
						    <div class="four column row">
						  		<div class="left floated column"><h2>SALDOS TOTALES</h2>	</div>
						    </div>												    					
						  </div>
						  <div class="row">
							  <table class="ui definition table">
									<thead>
										<tr>
											<th></th>
											<th class="ui right aligned">SALDO CONTABLE</th>
											<th class="ui right aligned">SALDO DISPONIBLE</th>								
										</tr>							
									</thead>
									<tbody id="tSaldoTotal"></tbody>
								</table>
						   </div>						   						   
						   <div class="row"></div>						   	
						   <div class="two column row">
						   		<div class="left floated column">
						   			<h2>SALDOS TOTALES CONSOLIDADOS</h2>
						   		</div>
						   		<div class="ui right aligned right floated column">
						   			<h3>Tipo Cambio: <span id="montoTipoCambio"></span></h3>
						   		</div>
						   </div>						  	
						  	<div class="row">
						  		<table class="ui definition table">
									<thead>
										<tr>
											<th></th>
											<th class="ui right aligned">SALDO CONTABLE</th>
											<th class="ui right aligned">SALDO DISPONIBLE</th>								
										</tr>							
									</thead>
									<tbody id=tSaldoTotalConsolidado></tbody>
								</table>						  	
						  	</div>			  
						  <div class="four column row">
							  <div class="right floated column">	
							  		<div class="actions">							  		
							  			<div class="fluid ui red basic cancel inverted button">Cerrar</div>
							  		</div>								
							  </div>	
						  </div>						  
						</div>						
					</div>
				</div>
				<div class="one wide column"></div>
			</div>

		</div>
	</div>
	<script>
		function toggleSidebar() {
			$("#app .ui.sidebar").sidebar({
				context : $("#app")
			}).sidebar("setting", "transition", "overlay").sidebar("toggle");
		}
		
		document.addEventListener("DOMContentLoaded", function() {
			startTime();
		});

		function startTime(){
			var date = new Date();
			var d  = date.getDate();
			var day = (d < 10) ? '0' + d : d;
			var m = date.getMonth() + 1;
			var month = (m < 10) ? '0' + m : m;
			var yy = date.getYear();
			var year = (yy < 1000) ? yy + 1900 : yy;
			var fecha = day + "/" + month + "/" + year;
			
			var h=date.getHours();
			var m=date.getMinutes();
			var s=date.getSeconds();
			m=checkTime(m);
			s=checkTime(s);
			var hora = h+":"+m+":"+s;

			$("#reloj").text(fecha + " " + hora);
			
			t=setTimeout('startTime()',500);
		}
		
		function checkTime(i){
			if (i<10) {
				i="0" + i;
			}
			return i;
		}

		$(document).ready(function() {
			$('#abrir_menu').click(function() {
				toggleSidebar();
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('#consolidatedBalances').click(function(){
		       event.preventDefault();
		       obtenerSaldoTotalMoneda();
		       $('.ui.modal').modal('show');
		    });
		}); 
	</script>
	<script type="text/javascript">
		function obtenerSaldoTotalMoneda(){
			
			event.preventDefault();
			var datosGenerales = {};
			datosGenerales["busqueda"] = $('#busqueda').val();
												
			$.ajax({
				type: "POST",
				contentType: "application/json",
			    url: "/fideicomiso/obtenerSaldoTotalMonedaSoles",
			    data: JSON.stringify(datosGenerales),
			    dataType: 'json',
			    cache: false,
			    timeout: 600000,
				success: function (data) {
										
					var cadena1HTML = "<tr>" + 
										"<td>TOTAL SOLES</td>" +
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalContableSoles"]).toFixed(2)) + "</td>" +
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalDisponibleSoles"]).toFixed(2)) + "</td>" +							
							 		  "</tr>" + 
							 		  "<tr>" + 
							 		  	"<td>TOTAL DÓLARES</td>" +
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalContableDolares"]).toFixed(2)) + "</td>" +							
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalDisponibleDolares"]).toFixed(2)) + "</td>"	+							
									  "</tr>";
					
					var cadena2HTML = "<tr>" + 
										"<td>EXPRESADO EN SOLES</td>" +
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalConsolidadoContableSoles"]).toFixed(2)) + "</td>" +							
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalConsolidadoDisponibleSoles"]).toFixed(2)) + "</td>" +		
									  "</tr>" + 
									  "<tr>" +
										"<td>EXPRESADO EN DOLARES</td>" +
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalConsolidadoContableDolares"]).toFixed(2)) + "</td>" +							
										"<td class=\"ui right aligned\">" + addCommas(Number.parseFloat(data["saldoTotalConsolidadoDisponibleDolares"]).toFixed(2)) + "</td>" +		
									  "</tr>";
						
					$('#tSaldoTotal').html(cadena1HTML);				  
					$('#tSaldoTotalConsolidado').html(cadena2HTML);	
					$('#montoTipoCambio').text(Number.parseFloat(data["montoTipoCambio"]).toFixed(2));					
			    },
				error: function (e) {}
			});						
		}	
	</script>
	<script type="text/javascript">
		function addCommas(cadenaNumerica) {
			cadenaNumerica += '';
		    var segmentoNumerico = cadenaNumerica.split('.');
		    var segmentoNumerico1 = segmentoNumerico[0];
		    var segmentoNumerico2 = segmentoNumerico.length > 1 ? '.' + segmentoNumerico[1] : '';
		    var rgx = /(\d+)(\d{3})/;
		    while (rgx.test(segmentoNumerico1)) {
		    	segmentoNumerico1 = segmentoNumerico1.replace(rgx, '$1' + ',' + '$2');
		    }
		    
		    return segmentoNumerico1 + segmentoNumerico2;
		}	
	</script>
</body>